.jumbotron {
    border-radius: 0;
}

.no-img, body img {
    background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20shape-rendering%3D%22crispEdge…ke-miterlimit%3D%2210%22%20d%3D%22M299.5.5l-299%20299%22%2F%3E%3C%2Fsvg%3E);
    background-repeat: no-repeat;
}

.no-img, body img {
    display: inline-block;
    background-color: #171819;
    background-size: 100% 100%;
}

.grad-right {
    background: linear-gradient(to right, #e9ecef , white);
}

.grad-left {
    background: linear-gradient(to left, #e9ecef , white);
}
.grad-top{
    background: linear-gradient(to bottom, #668 , white);
}

.w-66 {
    width: 66%
}

.w-33 {
    width: 33%
}

ul, li {
    list-style: none;
}

.list-news-grid::after, 
 {
    content: '.';
    display: block;
    clear: both;
    height: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
}

.list-news-grid {
    clear: both;
    padding-top: 1px;
    padding-left: 0;
}

.list-news-grid__item {
    position: relative;
    float: left;
    width: 100%;
    overflow: hidden;
    transition: opacity 0.25s 0.25s, transform 0.25s 0.25s cubic-bezier(0.5, -0.6, 0.5, 1.6);
}

.list-news-grid__img::after {
    content: '';
    position: absolute;
    z-index: 2;
    left: -1px;
    right: -1px;
    top: -1px;
    bottom: -1px;
    background-image: linear-gradient(10deg, rgba(9, 12, 168, 0.4), rgba(9, 12, 168, 0.2), transparent);
  
   
}

.list-news-grid__img::before {
    content: '';
    display: block;
    height: 0;
}

.list-news-grid__img img, .list-news-grid__img .no-img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.list-news-grid__img .no-img::before, .list-news-grid__img::before {
    padding-bottom: 66.6666666667%;
}

.list-news-grid__info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding-right: 20px;
    padding-bottom: 14px;
    padding-left: 20px;
    z-index:100;
}

.list-news-grid__info .list-news-grid__type {
    font-family: monospace;
    font-size: 11px;
    line-height: 15px;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 3px;
    text-transform: uppercase;
    display: block;
    padding-top: 1px;
    padding-bottom: 3px;
    font-weight: 700;
}

@media (min-width: 414px) {
    .list-news-grid__item--medium {
        width: 100%;
    }

    .list-news-grid__item--small {
        width: 50%;
    }

    .list-news-grid__info {
        padding-right: 20px;
        padding-bottom: 15px;
        padding-left: 20px;
    }
}

@media (min-width: 650px) {
    .list-news-grid__info {
        padding-right: 30px;
        padding-bottom: 20px;
        padding-left: 30px;
    }

    .list-news-grid__info .list-news-grid__type {
        font-size: 13px;
        line-height: 20px;
    }

    .list-news-grid__info .list-news-grid__type {
        font-weight: normal;
    }
}

@media (max-width: 789px) and (min-width: 650px){
    .list-news-grid .list-news-grid__item--small:nth-child(6) {
        display: none;
    }
}

@media (min-width: 900px) {

    .list-news-grid .list-news-grid__item--medium {
        margin-bottom: 1px;
    }

    .list-news-grid .list-news-grid__item--small:nth-child(2) {
        margin-bottom: 1px;
    }

    .list-news-grid__item--medium {
        width: 66.666%;
    }

    .list-news-grid__item--small {
        width: 33.333%;
    }

    .list-news-grid .list-news-grid__item--medium::after, 
    .list-news-grid .list-news-grid__item--small:nth-child(4)::after, 
    .list-news-grid .list-news-grid__item--small:nth-child(5)::after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 1px;
        background-color: #121314;
    }

    .list-news-grid .list-news-grid__item:nth-child(4) {
        clear: both;
    }

    .list-news-grid .list-news-grid__item--small:nth-child(3) ~ li {
        margin-top: -1px;
        border-top: 1px solid #121314;
    }
}
