.jumbotron {
    border-radius: 0;
}

.no-img, body img {
    background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20shape-rendering%3D%22crispEdge…ke-miterlimit%3D%2210%22%20d%3D%22M299.5.5l-299%20299%22%2F%3E%3C%2Fsvg%3E);
    background-repeat: no-repeat;
}

.no-img, body img {
    display: inline-block;
    background-color: #171819;
    background-size: 100% 100%;
}

.grad-right {
    background: linear-gradient(to right, #e9ecef , white);
}

.grad-left {
    background: linear-gradient(to left, #e9ecef , white);
}
.grad-top{
    background: linear-gradient(to bottom, #668 , white);
}

.w-66 {
    width: 66%
}

.w-33 {
    width: 33%
}

